* text=auto
.gitattributes text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.html text eol=lf
*.md text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.js text eol=lf
*.rb text eol=lf
*.sh text eol=lf
Gemfile text eol=lf
Gemfile.lock text eol=lf
